body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.main-header {
  height: 60px;
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  position: absolute;
}
.main-header img {
  height: 50px;
}
.main-header nav {
  display: flex;
  align-items: center;
}
.main-header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
  text-transform: uppercase;
}
.main-header nav ul li {
  cursor: pointer;
  padding: 10px;
}
.main-header nav ul li:hover {
  background-color: black;
  color: white;
}

.hero-section {
  height: 800px;
  background-image: url("hero.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-content {
  margin-top: 6em;
  margin-right: 6em;
  width: 450px;
}
.hero-content h1 {
  margin: 0px;
  font-size: 60px;
}
.hero-content button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.features {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.features-header {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.features h2 {
  margin: 0px;
  font-weight: 800;
}
.features-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.feature {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.feature img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
